:root {
  --theme-color: #192a32;
  --cross-color: #2cc6be;
  --circle-color: #f5b135;
  --tile-color: #1f3540;
  --button-color: #a8bec9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: var(--theme-color);
}

button {
  background: none;
  border: none;
  font: inherit;
  outline: none;
}

.container {
  margin-inline: auto;
  padding-block: 20px;
  min-height: 100vh;
  max-width: 600px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 34px;
  width: auto;
}

.message-display {
  height: 50px;
  padding-inline: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  column-gap: 10px;
  font-size: 24px;
  font-weight: 600;
  background-color: var(--tile-color);
  color: var(--button-color);
  border-radius: 6px;
  box-shadow: 0 2px 8px #00000020;
  transition: background-color 200ms ease, color 200ms ease;
}

.message-display.winner-x {
  background-color: var(--cross-color);
  color: var(--theme-color);
}

.message-display.winner-o {
  background-color: var(--circle-color);
  color: var(--theme-color);
}

.message-display.draw {
  background-color: var(--button-color);
  color: var(--theme-color);
}

.btn-restart {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  border-radius: 6px;
  box-shadow: 0 4px 0 #6d8893;
  cursor: pointer;
  transition: box-shadow 300ms linear;
}

.btn-restart:hover {
  box-shadow: none;
}

.game-board {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.board-field {
  height: 100%;
  width: 100%;
  aspect-ratio: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--tile-color);
  border: 4px solid var(--tile-color);
  border-radius: 10px;
  box-shadow: 0 10px 0 #00000020;
  cursor: pointer;
  transition: box-shadow 100ms linear, border-color 100ms linear;
}

.board-field:hover,
.board-field.disabled {
  box-shadow: 0 6px 10px #00000020;
}

.board-field.winner-x {
  border-color: var(--cross-color);
}

.board-field.winner-o {
  border-color: var(--circle-color);
}

.board-field img {
  height: 70%;
  width: 70%;
  object-fit: contain;
}

.summary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.summary-card {
  height: 80px;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
}

.summary-card p {
  font-size: 14px;
  font-weight: 400;
}

.summary-card strong {
  font-size: 30px;
  font-weight: 600;
}

.summary-card:nth-child(1) {
  background-color: var(--cross-color);
}

.summary-card:nth-child(2) {
  background-color: var(--button-color);
}

.summary-card:nth-child(3) {
  background-color: var(--circle-color);
}
